.filters{
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
}

.filters button{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    position: absolute;
    right: 30px;
    top: 15%;
}

.filters button:hover{
    opacity: 0.9;
}

.filters .locations,
.filters .amenities{
    position: relative;
    height: 100%;
    width: 25%;
    float: left;
}

.locations {
    border-right: 1px solid #DDDDDD;
}

.filters h3,
.filters h4{
    margin-left: 15%;
}

.filters h3 {
    margin-bottom: 0;
    font-weight: 600;
}
.filters h4 {
    margin-top: 0;
    font-weight: 400;
    font-size: 14px;
}
